.athletics-item.normal-order {
  flex-direction: row; /* Content on the right, image on the left */
}

.athletics-item.reverse-order {
  flex-direction: row-reverse; /* Content on the left, image on the right */
}
.athletics-container{
  padding-left: 40px;
  padding-right: 40px;
}
.athletics-item {
  display: flex;
  margin-bottom: 40px;
  align-items: stretch; /* Ensures both sections match height */
}

.athletics-image {
  width: 50%; /* Cover 50% of the width */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* Include padding and border in width calculation */
}

.athletics-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure image fills the container */
  border-radius: 0; /* No rounded corners */
}

.athletics-content {
  width: 50%; /* Cover 50% of the width */
  display: flex;
  flex-direction: column;
  padding-left: 20px; 
  margin: 0px;
  box-sizing: border-box;
}
.athletics-item.reverse-order .athletics-content {
  padding-left: 0px; 
}

.athletics-content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: black;
  border: none;
  margin: 0px;
  padding: 0px;
}

.athletics-content h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: black;
  border: none;
}

.athletics-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: black;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .athletics-item {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center;
  }

  .athletics-image,
  .athletics-content {
    width: 100%; /* Full width on small screens */
  }

  .athletics-image img {
    width: 100%; /* Ensure image scales properly */
    height: auto; /* Adjust height for responsiveness */
  }

  .athletics-content {
    text-align: center; /* Center align text */
    padding: 10px;
  }
}
