
.banner-image {
  position: relative;
  width: 100%;
  height: auto;
}



@font-face {
  font-family: 'SFProDisplayBlackItalic'; /* Replace with the actual font name */
  src: url('../public/fonts/SFPRODISPLAYBLACKITALIC.OTF') format('opentype'); /* Adjust path accordingly */
}
body {
  font-family: 'SFProDisplayBlackItalic', sans-serif;
    margin: 0; /* Remove default browser margins */
    padding: 0;
    background-color: white; /* Light gray background */
    color: black;
  }
  
  /* Optional: Center content horizontally */
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }





